$widthAvatar: 250px;
$heightAvatar: 250px;
.profile-page {
  .title {
    text-align: center;
    margin-bottom: 35px;
  }
  .profile {
    .avatar {
      margin: auto;
      width: $widthAvatar;
      height: $heightAvatar;
      background: darkgray;
      border-radius: 50%;
      border: 5px solid gray;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .detail,
  .salary {
    .info {
      & > div {
        margin-bottom: 14px;
        text-align: center;
      }
    }
  }
}
