$border-radius: 20px;
//COLOR_BUTTON
$primary-color: rgb(25, 118, 210);
$danger-color: rgb(255, 49, 49);
$warning-color: rgb(253, 164, 29);
$success-color: #00e407;
//ANYTHING WHITE COLOR
$theme-color: white;
$bg-gradient: linear-gradient(135deg, #004fff, #1cff00);

@mixin bg-image($border-radius, $isBackground, $opacity) {
    border-radius: $border-radius;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @if $isBackground {
        .bg-black {
            width: 100%;
            height: 100%;
            background-color: $isBackground;
            opacity: $opacity;
            position: absolute;
        }
    }
}

.btn {
    height: 36px;
    border-radius: $border-radius;
    &.btn--primary {
        background-color: $primary-color;
    }
    &.btn--danger {
        background-color: $danger-color;
    }
    &.btn--success {
        background-color: $success-color;
    }
    &.btn--warning {
        background-color: $warning-color;
    }
}

.header {
    background: $bg-gradient;
    &__wrap-icon {
        display: contents;
    }
    &__icon-back {
        color: $theme-color;
    }
}
