@import 'styles/Theme';
.detail-food {
    .slider-food {
        padding: 16px 0;
        .img-slider {
            height: 250px;
            margin: 0 16px;
            @include bg-image(20px, null, null);
        }
    }
    .info-food {
        h2 {
            margin: 0;
        }
        .icon-rank {
            color: #ffec16;
        }

        .icon-feedback {
            .btn-feedback {
                flex-direction: column;
                .item {
                    &.heart {
                        &.active {
                            color: red;
                        }
                    }
                    &.like {
                        &.active {
                            color: blue;
                        }
                    }
                    &.dislike {
                        &.active {
                            color: gray;
                        }
                    }
                }
                .count-feedback {
                    font-size: 16px;
                }
            }
        }
        .price-food {
            .price {
                display: flex;
                justify-content: flex-end;
                align-items: baseline;
                h2 {
                    display: inline;
                    font-size: 34px;
                    margin: 0;
                    color: red;
                }
            }
            .count {
                display: flex;
                width: 110px;
                background: #e6e6e6;
                justify-content: space-around;
                border-radius: $border-radius;
                align-items: center;
                height: 40px;
                & div:last-child,
                div:first-child {
                    font-size: 22px;
                }
                & div:nth-child(2) {
                    font-size: 26px;
                }
            }
        }
    }
    .description {
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: -16px;
        background-color: #e6e6e6;
        height: 300px;
        border-radius: 40px 40px 0 0;
        padding: 22px 16px;
    }
}
