$marginComponent: 50px;

.management-admin {
  .management-staffs,
  .table-salary {
    margin-bottom: $marginComponent;
    p {
      font-size: 4vh;
      margin-bottom: 16px;
      font-weight: bold;
    }
  }
}
