@import 'styles/Theme';
.order-page {
    .order {
        font-size: 18px;
        &__price {
            margin-right: 16px;
            color: $danger-color;
            &.price--large {
                font-size: 24px;
            }
        }
        &__count {
            margin: 0 16px;
        }
        &__action {
            width: 63px;
            font-size: 22px;
            display: flex;
            background: #e6e6e6;
            border-radius: 20px;
            justify-content: space-around;
            div {
                padding: 0 10px;
            }
            &.label {
                font-size: 18px;
                background: none;
            }
        }
        &__button {
            margin-left: 16px;
        }
    }
}
